<!-- <h1>Home#index</h1> -->
<!DOCTYPE html>

  <head>

 </head>
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

  <!--    jumbotron -->
          <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-sm-center pt-5">
          <h2 class="display-3">Evergreen HOA Website </h2>
          <p class="lead">A peaceful Community in Cary, North Carolina</p>
          <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
            <%# <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#order">Permit Orders</button> %>
            <%# <a  class="btn btn-light btn-lg" href="#speakers">Neighborhood Info</a> %>
              <%# <%= button_to 'Get Shark Info', orders_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact">Contact Us</button>
            </div>
            </div>
            </div>
  <!--  /  jumbotron -->
  <div class="container pt-4">
      <!-- about-->


      <div id="about"class="row">
        <div class="col-lg order-lg-2">
            <h3 class="mb-4">About Evergreen Community</h3>
            <img class="mb-4 rounded img-fluid d-none d-sm-block" <%= image_tag("Test House.jpeg", border: 0) %>
            <p>Our beautiful Community is located in the heart of Cary</p>
            <p>This is a portal to keep our neighbors connected and informed!</p>
        </div>

        <div class="col-lg order-lg-1">
            <h3 class="mb-4">Evergreen HOA Regulations</h3>
            <p>Pay your homeowners association fees. Living in a homeowners association community means that you are required to pay monthly fees to be a part of it.</p>
            <p>Keep noise levels down..</p>
            <p>Be considerate of common areas.</p>
            <p>Pay attention to pets</p>
            <%= link_to 'New Documents Order', new_order_path, class: 'nav-link'  %>
        </div>

        <div class="col-lg order-lg-3">
          <h3 class="mb-4">Neighbohood Info</h3>
            <div class="list-group">
              <a href="https://www.townofcary.org/" class="list-group-item list-group-item-action"><strong>Cary Town</strong>: Local and updated information </a>
              <a href="https://www.greatschools.org/north-carolina/cary/7674-Laurel-Park-Elementary/" class="list-group-item list-group-item-action"><strong>Elementary School</strong>: Laurel Park Elementary</a>
              <a href="https://www.greatschools.org/north-carolina/apex/3367-Salem-Middle/" class="list-group-item list-group-item-action"><strong>Middle School</strong>: Salem Middle</a>
              <a href="https://www.greatschools.org/north-carolina/cary/1907-Cary-High/" class="list-group-item list-group-item-action"><strong>High School</strong>: Cary High</a>

            </div>
      </div>

 </div>
    <!-- /about-->

    <!--      blog-->



  <h1 id="blog" class="display-4 text-center my-5 text-muted">Neighborhood News </h1>

 <ul class="list-group">



    <%#= link_to posts_path do %>
    <%#=post.title%> <%#=post.body%>
    <%#end%>

   <!-- <a class="list-group-item list-group-item-action active" data-toggle="list" href="#posts" role="tab">Home</a> -->

  <li class="list-group-item list-group-item-success">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">Lost Dog</h5>
      <span class="badge badge-pill badge-info p-2">Comments</span>
    </div>
    <p class="mb-1"> Name: "Lazy", House: 109 London Plain ct, last seen Friday afternoon</p>
  </li>

  <li class="list-group-item list-group-item-success">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">Covid 19 Update</h5><a href="#"></a>
        <span class="badge badge-pill badge-info p-2">Comments</span>
      </div>
      <p class="mb-1">Please let us know if anyone in need of groceries delivery</p>
    </li>

<li class="list-group-item list-group-item-success">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">Teddy Bears show for kids </h5>
      <span class="badge badge-pill badge-info p-2">Comments</span>
    </div>
    <p class="mb-1"> Let's make our little ones walk more pleasant and fun, post in the comments your address if you can show your Teddy Bear on the window</p>
</li>
<%= link_to 'Want to share Info with your neighbors?', new_post_path, class: 'nav-link'  %>

</ul>

<!-- /blog -->


<!--callout button-->
       <button type="button" class="btn btn-outline-info btn-lg d-block mx-auto my-5" data-toggle="modal" data-target="#contact">Contact Us</button>
<!--/callout button-->



<!--     footer-->
<div class="row py-3">
  <div class="col-md-7">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " href="#">Contact Us</a>
      </li>
      <h5 class="mb-1">HOA P.O Box #123456</h5>
  </div>
<div class="col-md text-md-right">
  <small>&copy; 2020 Evergreen HOA Website by Code the Dream</small>

</ul>
</div>
  <!--     /footer-->
    </div>  <!-- /.container-->


  <!  =============================
         Form Modal
         =============================>

             <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="Contact Us" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header bg-info text-white">
               <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">

  <!--     Registration Form-->

  <form>
      <div class="form-group">
      <label for="Family Name">Family Name:</label>
      <input type="text" class="form-control" id="Family Name:" placeholder="Example input placeholder">
      </div>
      <div class="form-group">
      <label for="formGroupExampleInput2">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Another input placeholder">
      </div>
</form>
<!--     /Registration Form-->



</body>
</html>
