<h1>Editing Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Show', @order, :class => "btn btn-info btn-sm text-white"  %>

<%= link_to 'Back to Orders List', orders_path, :class => "btn btn-info btn-sm text-white"  %>
