<h1>Editing Payment</h1>

<%= render 'form', payment: @payment %>

<%= link_to 'Show', payment_path, :class => "btn btn-info btn-sm text-white" %> 
<%= link_to 'Back', payments_path, :class => "btn btn-info btn-sm text-white" %>
