<% content_for :content do %>
  <div class="jumbotron text-center">
    <h1>Evergreen HOA Info</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><%= yield %></p>
      </div>
      <div class="col-lg-6">
        <p>
          <div class="caption">Welcome to our Community!</div>
          <%= image_tag("Test Evergreen pic.jpeg", border: 0) %>

        </p>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
